<!DOCTYPE html>
<html>

<head>
	<title>Spotify together</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<img src="<%= user.photos[0]%>" alt="">
	<h2>Hello, <%= user.username %>.</h2>
	<p>Your email is
		<%= user.emails[0].value %>
	</p>
	<p>Your fav track is
		<%= tracks[0].name %>
	</p>

	<button class="play-button">Play</button>
	<button class="pauze-button">Pauze</button>

	<script>
		var token = <%- JSON.stringify(user.accessToken) %>
		var favtrack = <%- JSON.stringify(tracks[0].uri) %>
	</script>
	<script src="https://sdk.scdn.co/spotify-player.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/client.js"></script>
</body>

</html>